//////  할인/쿠폰 적용 모달 (mobile 만 ) /////
.coupon-apply-modal {
  .dp-section {
    margin: 40px 0;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .btn-group .btn + .btn {
    margin-left: 0;
  }
  .btn-group .btn {
    width: 50%;
  }
  .dp-hr-h6 {
    background: $gray-100;
  }
  .add-discount-area {
    .add-discount__header {
      padding-bottom: 20px;
    }
    .price-unit {
      margin-left: 2px;
    }
  }
  .shipping-coupon-area {
    .shipping-coupon__header {
      padding-bottom: 20px;
    }
    .price-unit {
      margin-left: 2px;
    }
  }
}



