.new-list {
  .new-list__section {
    padding: 20px 0;
  }
  .new-list__header {
    margin-bottom: 10px;
    .dp-sort__ul {
      flex-wrap: wrap;
      li + li {
        margin-left: 0;
      }
      li {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
