.dp-mypage-reward {
  .h1 {
    margin: 0;
    background: $gray-400;
  }
  // 공통사항
  .price-unit {
    margin-left: 2px;
  }
  .dp-sort__ul li + li {
    margin-left: 10px;
  }

  // 적립금 사용안내 section
  .reward-use__guide__section {
    padding-top: 20px;
    .reward-use__guide__header {
      padding-bottom: 15px;
      display: flex;
      justify-content: flex-end;
      .reward-use__guide__header__area {
        display: flex;
        align-items: center;
        .reward-use__guide__header__title {
          font-size: 14px;
          letter-spacing: -.56px;
          line-height: 20px;
          margin-right: 4px;
        }
      }
    }
    .reward-use__guide__body {
      .price__area {
        display: flex;
        align-items: center;
      }
      .price-unit {
        font-size: 14px;
        letter-spacing: -.56px;
      }
      .price-unit-p {
        font-size: 14px;
        letter-spacing: -.56px;
        font-weight: 500;
        margin-left: 2px;
        margin-top: -5px;

      }
      .reward__box-area {
        background: $gray-100;
        padding: 24px 20px;
        .h1 {
          margin-top: 20px;
        }
        .use-reward__box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .box__left {
            display: flex;
            align-items: center;
            .dp-icon {
              margin-right: 2px;
            }
            .use-reward__p {
              font-size: 16px;
              letter-spacing: -.64px;
              line-height: 24px;
            }
          }
          .reward-price__area {
            .text-primary {
              font-size: 22px;
              letter-spacing: -.66px;
              font-weight: 600;
            }
          }
        }
        .extinction-reward__box {
          padding-top: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .extinction-reward__p {
            font-size: 14px;
            letter-spacing: -.56px;
            line-height: 20px;
            color: $gray-700;
            span {
              display: block;
            }
          }
          .atten-new {
            font-size: 18px;
            letter-spacing: -.54px;
            font-weight: 600;
          }
        }

        .price-unit-p.atten-new {
          font-size: 14px;
          letter-spacing: -.56px;
          font-weight: 500;
          //text-transform: uppercase;
        }
      }
    }
  }

  // 프로모션 코드 등록
  .promotion-code__section {
    padding-top: 40px;
    padding-bottom: 30px;
    .promotion-code__header {
      padding-bottom: 10px;
      .promotion-code__header__title {
        font-size: 16px;
        letter-spacing: -.64px;
        font-weight: 500;
      }
    }
    .promotion-code__body {
      .input__area {
        display: flex;
      }
      .base-input {
        width: calc(100% - 94px);
      }
      .dp-btn {
        width: 84px;
        margin-left: 10px;
      }
    }
  }

  // 적립 내역
  .reward-content__section {
    // 라디오 버튼
    .dp-sort__ul {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .dp-sort__badge {
      height: 40px;
      border-radius: 20px;
      background: #ffffff;
      border: 1px solid $gray-400;
    }
    // 내용
    .reward-content__area {
      ul {
        .h1 {
          margin: 24px 0;
        }
      }
      .li__header {
        padding-bottom: 10px;
        .date {
          font-size: 14px;
          letter-spacing: -.56px;
          font-family: 'AttenNew', sans-serif;
          color: $gray-700;
        }
      }
      .li__body {
        .li__body__title {
          font-size: 16px;
          letter-spacing: -.64px;
        }
        .li__body__price {
          font-size: 18px;
          letter-spacing: -.54px;
          font-weight: 500;
        }
        .price-unit {
          font-size: 16px;
          letter-spacing: -.48px;
          font-weight: 500;
          margin-top: -4px;
        }
        .price-unit-p {
          font-size: 18px;
          letter-spacing: -.54px;
          font-weight: 500;
          margin-top: -8px;
        }
      }
      .list__footer {
        padding-top: 10px;
        .available__period {
          font-size: 14px;
          letter-spacing: -.56px;
          color: $gray-700;
        }
      }
      // 내역이 없을 때
      .empty__area {
        padding-bottom: 80px;
        .empty__body {
          padding-top: 80px;
        }
        .empty-icon-area {
          width: 94px;
          height: 94px;
          background: $gray-100;
          border-radius: 50%;
        }
        .empty-text__area {
          padding-top: 20px;
          .empty-text {
            font-size: 14px;
            letter-spacing: -.56px;
            color: $gray-700;
          }
        }
      }

      .price-unit {
        margin-left: 0;
      }
    }
  }
}
