<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>광고성 정보 수신동의 확인 안내</title>


  <!--font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <link th:each="font : ${fontList}" th:href="${font}" rel="stylesheet">
</head>
<body style="margin: 0;">
  <div id="email-agree-receive" style="width: 800px; padding: 0 40px; margin: 0 auto; font-family: 'Noto Sans KR', sans-serif;">
    <!-- 헤더 -->
    <table style="width: 100%; padding: 30px 0 70px 0">
      <tr>
        <td>
          <div>
            <img th:src="${topLogo}" alt="로고">
          </div>
        </td>
      </tr>
    </table>
    <table style="width: 100%;">
      <tr>
        <td style="text-align: center">
          <span style="font-size: 26px; letter-spacing: -1.04px; font-weight: 500; color: #111111;">광고성 정보 수신동의 확인 안내</span>
        </td>
      </tr>
    </table>
    <table style="width: 100%; padding: 80px 0 40px 0">
      <tr>
        <td>
          <span style="font-size: 16px; letter-spacing: -.64px; line-height: 26px; font-weight: 400; color:#111111;">
            안녕하세요?<br />
            D.PLOT을 사랑해 주시는 고객님께 깊은 감사를 드립니다.<br />
             <p th:text="${date1}">이 메일은 기준 2022년 12월 1일 D.PLOT의 광고 정보 수신에 동의하신 회원님을 대상으로 발송되는 수신 동의 여부
            확인 안내 메일입니다. 관련 법령에 따라 아래와 같이 안내드리오니 이용에 참고하시기 바랍니다.</p> 
          </span>
        </td>
      </tr>
    </table>
    <!-- 관련법령 -->
    <table style="width: 100%;">
      <tr>
        <td>
          <span style="font-size: 16px; letter-spacing: -.64px; font-weight: 700; color: #111111; ">관련법령</span>
        </td>
      </tr>
      <tr>
        <td style="padding: 14px 0 0 0;">
          <span style="font-size: 14px; letter-spacing: -.56px; color: #666666; ">정보통신망 이용촉진 및 정보보호에 관한 법률 제50조 8항 및 동법 시행령 제 62조의 3 (수신동의여부의 확인)</span>
        </td>
      </tr>
    </table>
    <table style="width: 100%; padding: 40px 0 0 0;">
      <tr>
        <td>
          <span style="font-size: 16px; letter-spacing: -.64px; font-weight: 700; color: #111111; ">수신동의현황</span>
        </td>
      </tr>
      <tr>
        <td style="padding: 14px 0 0 0;">
          <span style="font-size: 14px; letter-spacing: -.56px; color: #666666; ">[$NOTE1]</span>
        </td>
      </tr>
    </table>
    <!-- 수신동의 설정 변경방법 -->
    <table style="width: 100%; border-collapse: separate; border-spacing: 0 30px">
      <tr>
        <td style="width: 100%;">
          <span style="font-size: 16px; letter-spacing: -.64px; font-weight: 700; color: #111111; ">수신동의 설정 변경방법(수신 동의 철회 방법)</span>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: middle;">
          <table style="text-align: center;">
            <colgroup>
              <col width="16%">
              <col width="10%">
              <col width="16%">
              <col width="10%">
              <col width="16%">
              <col width="10%">
              <col width="16%">
            </colgroup>
            <tr>
              <td>
                <div style="width: 136px; height: 200px; border: solid 1px #dddddd; border-radius: 15px 0 15px 0; padding-top: 50px; vertical-align: middle;">
                  <div style="border-radius: 50%; background-color: #f8f8f8; width: 64px; height: 64px; text-align:center; margin: 0 auto;">
                    <img th:src="${path1}" style="width: 40px; height: 40px; padding-top: 10px;">
                  </div>
                  <div style="text-align: center; margin-top: 14px;">
                    <span style="font-size: 12px; letter-spacing: -.36px; font-weight: 600; color:#999999; font-family: 'atten-new', sans-serif; padding-bottom: 6px;">STEP 01</span>
                    <span style="display:block; font-size: 14px; letter-spacing: -.56px;">웹사이트 또는<br />앱 로그인</span>
                  </div>
                </div>
              </td>
              <td>
                <img th:src="${path2}">
              </td>
              <td style="vertical-align: middle;">
                <div style="width: 136px; height: 200px; border: solid 1px #dddddd; border-radius: 15px 0 15px 0; padding-top: 50px; vertical-align: middle;">
                  <div style="border-radius: 50%; background-color: #f8f8f8; width: 64px; height: 64px; text-align:center; margin: 0 auto;">
                    <img th:src="${path3}" style="width: 40px; height: 40px; padding-top: 10px;">
                  </div>
                  <div style="text-align: center; margin-top: 14px;">
                    <span style="font-size: 12px; letter-spacing: -.36px; font-weight: 600; color:#999999; font-family: 'atten-new', sans-serif; padding-bottom: 6px;">STEP 02</span>
                    <span style="display:block; font-size: 14px; letter-spacing: -.56px;">마이페이지</span>
                  </div>
                </div>
              </td>
              <td>
                <img th:src="${path4}">
              </td>
              <td style="vertical-align: middle;">
                <div style="width: 136px; height: 200px; border: solid 1px #dddddd; border-radius: 15px 0 15px 0; padding-top: 50px; vertical-align: middle;">
                  <div style="border-radius: 50%; background-color: #f8f8f8; width: 64px; height: 64px; text-align:center; margin: 0 auto;">
                    <img th:src="${path5}" style="width: 40px; height: 40px; padding-top: 10px;">
                  </div>
                  <div style="text-align: center; margin-top: 14px;">
                    <span style="font-size: 12px; letter-spacing: -.36px; font-weight: 600; color:#999999; font-family: 'atten-new', sans-serif; padding-bottom: 6px;">STEP 03</span>
                    <span style="display:block; font-size: 14px; letter-spacing: -.56px;">회원정보</span>
                  </div>
                </div>
              </td>
              <td>
                <img th:src="${path6}">
              </td>
              <td style="vertical-align: middle;">
                <div style="width: 136px; height: 200px; border: solid 1px #dddddd; border-radius: 15px 0 15px 0; padding-top: 50px; vertical-align: middle;">
                  <div style="border-radius: 50%; background-color: #f8f8f8; width: 64px; height: 64px; text-align:center; margin: 0 auto;">
                    <img th:src="${path7}" style="width: 40px; height: 40px; padding-top: 10px;">
                  </div>
                  <div style="text-align: center; margin-top: 14px;">
                    <span style="font-size: 12px; letter-spacing: -.36px; font-weight: 600; color:#999999; font-family: 'atten-new', sans-serif; padding-bottom: 6px;">STEP 04</span>
                    <span style="display:block; font-size: 14px; letter-spacing: -.56px;">이메일/문자메시지<br />수신설정 변경</span>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding: 14px 0 0 0;">
          <span style="font-size: 14px; letter-spacing: -.56px; color: #666666; ">ㆍ수신에 동의하시면 D.PLOT의 뉴스레터 및 상품정보, 이벤트 등의 안내를 받아보실 수 있습니다.</span>
          <span style="display:block; font-size: 14px; letter-spacing: -.56px; color: #666666; padding-top: 6px; ">ㆍ회원정보, 주문정보, 서비스 주요정책 관련내용은 수신동의 여부와 관계 없이 발송됩니다.</span>
        </td>
      </tr>
    </table>
    <table style="padding-top: 30px;">
      <tr>
        <td>
          <span style="font-size: 14px; letter-spacing: -.56px; color: #111111; ">D.PLOT는 회원님의 소중한 개인정보를 안전하게 관리하기 위하여 최선을 다하겠습니다.</span>
          <span style="display:block; font-size: 14px; letter-spacing: -.56px; color: #666666; padding-top: 6px; ">ㆍ본 메일은 법률에 의거하여 의무적으로 발송되는 필수 안내 메일로서, 고객님의 이메일 마케팅 정보 수신동의 여부와 관계 없이 발송됩니다.</span>
        </td>
      </tr>
    </table>
    <!-- 메일 푸터 -->
    <table class="mail-footer" style="width: 100%; margin-top: 80px; background-color: #f8f8f8; padding: 40px 40px;">
      <colgroup>
        <col width="20%">
        <col width="80%">
      </colgroup>
      <tr style="vertical-align: top; width: 100%;">
        <td>
          <div style="text-align: left; width: 100%;">
            <img th:src="${footerLogo}" alt="footer logo">
          </div>
        </td>
        <td>
          <div style="margin-bottom: 10px; line-height: 1;">
            <span style="color: #666666; font-size: 14px; letter-spacing: -.42px;">
              본 메일은 발신 전용으로 회신이 되지 않습니다.<br />
              문의사항은 [<a th:href="${mainUrl}" style="color:#666666;">D.PLOT 홈페이지</a>]를 이용해주시기 바랍니다.
            </span>
          </div>
          <div style="margin-bottom: 4px;">
            <span style="font-size: 14px; letter-spacing: -.42px; color: #666666;">주식회사 다다엠엔씨</span>
            <span style="display:inline-block; margin: 0 10px; width: 1px; height: 10px; background-color: #dddddd;"></span>
            <span style="font-size: 14px; letter-spacing: -.42px; color: #666666;">고객센터 1666-3642</span>
<!--            <span style="display:inline-block; margin: 0 10px; width: 1px; height: 10px; background-color: #dddddd;"></span>-->
<!--            <span style="font-size: 14px; letter-spacing: -.42px; color: #666666;">1:1 문의</span>-->
          </div>
          <div style="margin-bottom: 4px;">
            <span style="font-size: 14px; letter-spacing: -.42px; color: #666666;">04377 서울특별시 용산구 한강대로23길 55 (한강로3가) 아이파크몰 6층</span>
          </div>

          <div>
            <span style="font-size: 14px; letter-spacing: -.42px; color: #666666;">COPYRIGHT © D.PLOT. ALL RIGHTS RESERVED.</span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>