
.the-footer.new_footer.dplot_v2 .detail-box .detail-p {
    font-weight: 300;
}

.the-header.dplot_v2 {
    height: 80px;
    padding-top: 30px;
}

.the-header.dplot_v2 .nav .main-menu {
    padding-bottom: 0;
}

.the-header.dplot_v2 .nav__list:first-child {
    padding-bottom: 30px;
}

.the-header.dplot_v2 .nav__list:hover:after {
    top: 45px;
}

.dplot_v2.new-layout.highlights_section .brand-card .card__label {
    font-weight: 600;
}

.dplot_v2.new-layout.highlights_section .brand-card .brand_card_text_box > h4 {
    font-weight: 500;
}

.dplot_v2.the-header .nav__submenu-bg {
    top: 80px;
}

.dplot_v2.the-header .nav__submenu-bg .inner_menus ul li:first-child {
    font-weight: 600;
}


//brand 
.dp-magazine-brand-pc {
    .magazine-brand__tabs.dplot_v2{ 

        .nav-tabs{display: none;}
        .shop-list{
           &{
            position: absolute;
            top: 30px;
            left: 0;
            width: 100%;
            overflow: auto;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            
            
            }
            &::-webkit-scrollbar {
                /*스크롤바의 너비*/
                height: 3px;
            }
 
            &::-webkit-scrollbar-thumb {
                background-color: #000; /*스크롤바 트랙 색상*/
            }
 
            &::-webkit-scrollbar-track {
                
                background-color: #fff; /*스크롤바의 색상*/
                
            }

           &-ctg{
            padding-left: 0;
            border: 0;
            }

           &-ctg li + li{
            margin-left: 0;
            }

           li{
            text-align: center;
            flex: 0 0 auto; /* basis 를 90%로 조절함*/
            scroll-snap-align: start;
            padding:0 35px;
            }
            
           .list-default{
            line-height: 1;
            word-break: keep-all;
        }      

        }
    }
}