<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dplot.mapper.ReserveUseMapper">
	<select id="selectReserveUseByOrder" parameterType="somap" resultType="somap">
		SELECT /* ReserveUseMapper.xml - selectReserveUseByOrder 적립금사용내역 조회 */
		      T.RESPAYIDX
		    , T.USERNO
		    , T.ISEMPRESERVE
		    , T.PAYPOINT
		    , T.USEDPOINT
		FROM T_RESERVE_PAY T
		WHERE USERNO = #{userno}
		AND ISEMPRESERVE = #{isempreserve}
		AND EXISTS (
		        SELECT 1
		        FROM T_RESERVE_USE A
		        INNER JOIN T_RESERVE_USEPAY B 
		        ON A.RESUSEIDX = B.RESUSEIDX
		        WHERE A.ORDERCODE = #{ordercode}
		        AND A.RESUSETYPE = 'RUT001'
		        AND B.RESPAYIDX = T.RESPAYIDX 
		        )
		ORDER BY RESEDDAY DESC , RESPAYIDX DESC
	</select>
	
	<!-- 적립금사용내역 저장 -->
	<insert id="insertReserveUse" parameterType="somap" useGeneratedKeys="true" keyProperty="resuseidx">
		/* ReserveUseMapper.xml - insertReserveUse 적립금사용내역 저장 */
		INSERT INTO T_RESERVE_USE (
			  USERNO		/* 회원일련번호 */
			, RESUSETYPE	/* 적립금사용구분 */
			, RESUSEREASON	/* 적립금사용사유 */
			, USEMEMBERTYPE	/* 사용시회원유형 */
			, USEMEMLVTYPE	/* 사용시회원등급 */
			, USEPOINT		/* 사용포인트 */
			, ORDERCODE		/* 주문번호 */
			, REGDATE		/* 등록일시 */
			, REGUSERID		/* 등록자ID */
		) VALUES
		(	  
			  #{userno}
			, #{resusetype}
			, #{resusereason}
			, #{usemembertype}
			, #{usememlvtype}
			, #{usepoint}
			, #{ordercode}
			, sysdate()
			, #{userid}
	    )
	</insert>
	
	<!-- 적립금사용지급내역 저장 -->
	<insert id="insertReserveUsepay" parameterType="somap">
		/* ReserveUseMapper.xml - insertReserveUsepay 적립금사용지급내역 저장 */
		INSERT INTO T_RESERVE_USEPAY (
			  RESPAYIDX		/* 적립금지급내역IDX */
			, RESUSEIDX		/* 적립금사용내역IDX */
			, USEPOINT		/* 사용포인트 */
			, REGDATE		/* 등록일시 */
		) VALUES
		(	  
			  #{respayidx}
			, #{resuseidx}
			, #{usepoint}
			, sysdate()
	    )
	</insert>
</mapper>