.the-footer {
  margin-top: 60px;
  padding: 60px 20px 100px 20px;
  background: #f2f2f2;

  .footer-top {
    .footer-logo {
      margin-bottom: 30px;
      img {
        filter: brightness(0);
        width: 102px;
      }
    }

    .btn-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 44px;
      color: #ccfe00;
      border: 1px solid #ccfe00;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -.48px;
      padding: 0 20px;
      background: transparent;
      span {
        display: flex;
        align-items: center;
        img {
          margin-right: 8px;
        }
      }
    }
  }

  .footer-middle {
    margin-bottom: 50px;
  }

  .footer-ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    li {
      flex: 0 0 50%;
      margin-bottom: 20px;
    }
    li:nth-last-child(1),
    li:nth-last-child(2) {
      margin-bottom: 0;
    }
    a {
      font-size: 16px;
      letter-spacing: -.48px;
      font-weight: 300;
      color: #fff;
    }
  }

  .footer-bottom {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -.48px;
    color: #666;
  }

  .footer-detail {
    outline: 0;
    padding-left:0;
    background-image:none;
    -webkit-appearance:none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b1b1b1;
    .detail-p {
      line-height: 28px;
      span {
        padding-left: 34px;
      }
    }
    &[open] {
      margin-bottom: 50px;
      img {
        transform: rotate(180deg);
      }
    }
  }

  .default_infor{
    ul {
      display: flex;
      align-items: center;
      padding: 0;
      li {
        font-size: 12px;
        color: #666;
        font-weight: 400;
        list-style: none;
        & + li::before {
          content:'|';
          vertical-align: text-top;
          font-size: 10px;
          margin:0 10px;
        }
      }
    }
  }

  .footer-top{
    ul {
      display: flex;
      align-items: center;
      padding: 0;
      li {
        font-size: 14px;
        color: #666;
        font-weight: 400;
        list-style: none;
        & + li::before {
          content:'·';
          border-radius: 100px;
          font-size: 12px;
          font-weight: 700;
          margin:0 5px;
        }
      }
    }
  }

  .footer-summary {
    display: flex;
    align-items: center;
    outline: 0;
    padding-left:0;
    background-image:none;
    -webkit-appearance:none;
    & > span {
      font-size: 16px;
      color: #000;
      font-weight: 600;
    }
    img {
      margin-left: 8px;
    }
    &::marker {
      display: none;
      content: '';
    }
    &::-webkit-details-marker {
      display:none;
    }
  }

  .detail-box {
    padding-top: 20px;
    .detail-p {
      margin-bottom: 20px;
    }
  }
  .detail-copy {
    color: #666;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -.36px;
  }

  .footer-btn-area {
    position: relative;
    .footer-shortcut-menu {
      position: absolute;
      left: 0;
      bottom: 43px;
      padding: 20px;
      border: 1px solid #666;
      background: #222;
      width: 100%;
      max-height: 275px;
      overflow-y: auto;
    }
    .shortcut-menu-list {
      .shortcut-ctg {
        font-size: 16px;
        letter-spacing: -.48px;
        font-weight: 500;
      }
      .shortcut-ul {
        font-size: 16px;
        letter-spacing: -.48px;
        font-weight: 300;
        a { color: #fff; }
        li + li {
          margin-top: 12px;
        }
      }
    }
    .shortcut-menu-list + .shortcut-menu-list {
      margin-top: 12px;
    }
  }

  .footer-shortcut {
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
    padding: 0 20px;
    border: 1px solid #666;
    span {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: -.48px;
      margin-right: 8px;
      color: #fff;
    }
    img {
      transform:rotate(0);
    }
    &.open {
      img {
        transform:rotate(180deg);
      }
    }
  }

  .shortcut-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .sns-icon-group {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    .sns-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .sns-icon + .sns-icon {
      margin-left: 14px;
    }
  }
}
