.cs-sample01{
  .header-title {
    color: $black;
    font-size: 26px;
    letter-spacing: -1.04px;
    line-height: 28px;
    font-weight: 700;
  }
  .page-wrap {
    padding-top: 50px;
    font-size: 30px;
  }
}
