.my-review-write {
  .info-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    i {
      margin-right: 4px;
      background: url("~@/assets/common/icon/icon-circle-info-20px.svg") no-repeat 0;
    }
    span {
      color: $gray-700;
      font-size: 16px;
      letter-spacing: -.64px;
      line-height: 24px;
    }
  }

  .review-item {
    position: relative;
  }

  .product-thumbnail {
    margin-right: 14px;
    width: 170px;
  }

  .thumbnail__img {
    background:#f9f9f9;
    width: 150px;
  }

  .item-text {
    width: 100%;
    color: $gray-700;
    font-size: 16px;
    letter-spacing: -.64px;
    line-height: 24px;
    flex: 1 1 0;

    p + p {
      margin-top: 4px;
    }

    p {
      @include text-truncate;
    }
  }

  .dp-bar {
    margin-right: 10px;
    margin-left: 10px;
  }

  .review-edit {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  i + i {
    margin-left: 8px;
  }

  .write-review__body {
    .write-review-p {
      font-size: 20px;
      letter-spacing: -.8px;
      line-height: 29px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 14px;
    }

    figure {
      margin-bottom: 0;
    }

    .product-star {
      i {
        width: 40px;
        height: 40px;
        background-size: 40px;
      }
      img {
        width: 100%;
      }
    }
  }

  .form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    p {
      font-size: 20px;
      letter-spacing: -.8px;
      line-height: 28px;
      font-weight: 500;
    }
  }

  .review-write__img {

    .image-upload__title {
      font-size: 20px;
      letter-spacing: -.8px;
      line-height: 28px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .image-upload__label {
      margin-left: 0;
    }

    .image-upload__list {
      padding-right: 0;
    }

  }

  .review-write__button {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
  }

  .cursor-pointer {
    cursor: pointer;
  }
}

// 모달 css
//.reward-modal {
//  padding: 0 20px;
//
//  .reward-modal__text {
//    font-size: 14px;
//    letter-spacing: -.56px;
//    line-height: 20px;
//  }
//}
//
.write-caution-modal {
  padding: 0 20px;

  .ul-dot li {
    font-size: 14px;
    letter-spacing: -.56px;
  }
}
