.product-thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 100px;
  @include media-breakpoint-up(xl) {
    max-width: inherit;
  }
  &.bg { height: 100%; }

  .thumbnail__img {
    background:#f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-bottom: 0;
    img {
      width: 100%;
    }
  }
  .product-status {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(248,248,248,.8);
  }
  .status-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 28px;
    font-size: 12px;
    letter-spacing: -.48px;
    line-height: 16px;
    color: $gray-700;
    border: 1px solid $gray-600;
    &.lg {
      width: 84px;
      height: 32px;
      font-size: 14px;
      letter-spacing: -.56px;
    }
  }
  .base-checkbox {
    position: absolute;
    top: 0;
    left: 0;

    label::before {
      background: $white;
    }

    .magic-checkbox:checked + label:before {
      background: $primary;
    }
  }
}
